{{{header}}}
{{{heading}}}
<div class="alert alert-info" role="alert">{{#str}}tousethis, filter_templates, {{id}}{{/str}}</div>

{{{form}}}

<hr/>
<h2>{{#str}}preview{{/str}}</h2>
{{{preview}}}
{{{footer}}}